.dropdown-toggle{
    cursor: pointer;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem; 
}